/*.square {
    background: #000;
    width: 98vw;
    height: 26vw;
    position: absolute;
}

.square_1 {
	background: #000;
	width: 99vw;
	height: 25vw;
	margin-top: -26%;
	position: absolute;
}

.square_lat1 {
	background: #000;
	width: 31vw;
	height: 35vw;
	margin-top: -46%;
	position: absolute;
}

.square_lat2 {
	background: #000;
	width: 27vw;
	height: 21vw;
	margin-top: -45%;
	position: absolute;
	margin-left: 71%;
}*/